.navbar {
  @extend .container;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: $white;
}

.navbar__logo {
  // width: 135px;
  height: 40px;
  img {
    margin-bottom: 8px;
    width: 100%;
  }
}

.navbar__links {
  display: none;
}

.navbar__hamburger {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

@media (min-width: 930px) {
  .navbar__links {
    display: flex;
    justify-content: space-between;
    width: 50%;

    a:hover {
      color: $light-purple;
    }
  }

  .navbar__hamburger {
    display: none;
  }
}
