.hero {
  @extend .container;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20;
  height: calc(100vh - 100px);
}

.hero__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10%;
  // max-width: 50%;
  color: $white;

  h1 {
    max-width: 500px;
    font-size: 50px;
  }
  p {
    max-width: 500px;
    font-size: 15px;
    color: $light-gray;
  }
}

.hero__header__sub {
  font-weight: 700;
  text-transform: uppercase;
  p {
    color: $light-purple;
  }
}

.hero__header__buttons {
  display: flex;
  flex-direction: column;
  width: 200px;

  button {
    margin-top: 20px;
  }
}

.hero__image {
  visibility: hidden;
  & img {
    width: 100%;
  }
}
@media (min-width: 930px) {
  .hero {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero__header {
    width: 50%;

    h1 {
      font-size: 68px;
    }
  }
  .hero__header__buttons {
    flex-direction: row;
    width: auto;

    button {
      margin-right: 20px;
    }
  }

  .hero__image {
    width: 50%;
    padding-bottom: 10%;
    visibility: visible;
  }
}
