.why_wrapper {
  h2 {
    text-align: center;
    font-size: 60px;
  }
  p {
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
    max-width: 650px;
  }
}
.why_icons {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.why_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why_icon {
  width: 80px;
  height: 80px;
  margin-top: 5%;
  img {
    width: 100%;
  }
}

@media (min-width: 930px) {
  .why_icons {
    // height: 50vh;
    flex-direction: row;
  }
}
