h2 {
  font-size: 40px;
}

.container {
  padding: 0 1rem;
  max-width: 1300px;
  margin: 0 auto;
}

.first {
  background: linear-gradient(
    90deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}
